*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    width: 50%;
    height: 50%;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.hero-main-text{
    font-size: 30px;
}

.herobiz-color{
    color:#0EA2BD;
}

.herobiz_second_div a{
    color:black;
}

.herobiz_second_div:hover{
    color:#0EA2BD;
}

.youtube-btn :hover{
     color:#0EA2BD;
}