*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
    
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
    width: 50%;
    height: 50%;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.hero-main-text{
    font-size: 30px;
}

.herobiz-color{
    color:#0EA2BD;
}

.herobiz_second_div a{
    color:black;
}

.herobiz_second_div:hover{
    color:#0EA2BD;
}
.card-style{
    transition: 0.6s;
    margin-bottom: 18px;
    margin-right: 3px;
}
.card-style:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
}

svg{
    font-size: 20px;
}

.svg-style{
    color: #0EA2BD;
}

.button-style{
    font-family: 18px;
    font-weight: 400px;
    font-family: 'Poppins', sans-serif;
    color: #485664;
}

/* !footer section start from here */

.footer_bg{
    background-color: #485664;
}

.herobiz_address, .herobiz_contact{
    color: white;
    font-size: 14px;
     font-family: 'Source Sans Pro', sans-serif;
}

.use_ful_link{
    color: white;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
    margin-bottom: 12px;

}
.menu {
    list-style-type: none;
    text-align: left;
    font-size: 15px;

}
.menu li {
    color: white;
    text-align: left;

}
.menu li a{
    color: white;
    text-decoration: none;
}

.input_label{
    position: relative;
}

.input_text{
    border: none;
    /* width: 100%; */
    height: 40px;
    padding: 0 15px;
}

.input_button{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:#0ea2bd;
    color:white;
    padding: 0 10px;
    letter-spacing: 1.2px;
    border: none;
}

.newsletter_text p{
    margin-bottom: 1rem;
    margin-top: 0px;
    color: white;
}


.footer-legal{
    background-color:#3A4753;
    color: white;
}


.credits a{
    margin-top: 10px;
    border: 1px solid gray;
    padding:5px 10px;

}

.credits a i{
    color: white;
}


/* !footer section ends from here */